<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :act_math %>
    <%= f.number_field :act_math %>
  </div>

  <div class="field">
    <%= f.label :degree %>
    <%= f.text_field :degree %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :ethnicity %>
    <%= f.text_field :ethnicity %>
  </div>

  <div class="field">
    <%= f.label :fname %>
    <%= f.text_field :fname %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :graduation %>
    <%= f.date_select :graduation %>
  </div>

  <div class="field">
    <%= f.label :high_school %>
    <%= f.number_field :high_school %>
  </div>

  <div class="field">
    <%= f.label :lname %>
    <%= f.text_field :lname %>
  </div>

  <div class="field">
    <%= f.label :prior_college %>
    <%= f.number_field :prior_college %>
  </div>

  <div class="field">
    <%= f.label :transfer_hours %>
    <%= f.number_field :transfer_hours %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
