<p id="notice"><%= notice %></p>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>

<h1>Students</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Act math</th>
      <th>Degree</th>
      <th>Email</th>
      <th>Ethnicity</th>
      <th>Fname</th>
      <th>Gender</th>
      <th>Graduation</th>
      <th>High school</th>
      <th>Lname</th>
      <th>Prior college</th>
      <th>Transfer hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.uid %></td>
        <td><%= student.act_math %></td>
        <td><%= student.degree %></td>
        <td><%= student.email %></td>
        <td><%= student.ethnicity %></td>
        <td><%= student.fname %></td>
        <td><%= student.gender %></td>
        <td><%= student.graduation %></td>
        <td><%= student.high_school %></td>
        <td><%= student.lname %></td>
        <td><%= student.prior_college %></td>
        <td><%= student.transfer_hours %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
