<div class="col-md-12">
  <p id="notice"><%= notice %></p>
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count"><%= @students.count %></div>
        <h3>Number Students </h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count"><%= @students.count %></div>
        <h3>Average Act </h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count"><%= @students.count %></div>
        <h3>Males </h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>

    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count"><%= @students.count %></div>
        <h3>Females </h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>

  </div>

  <h1>Students</h1>

  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Uid</th>
      <th>Act math</th>
      <th>Degree</th>
      <th>Email</th>
      <th>Ethnicity</th>
      <th>Fname</th>
      <th>Gender</th>
      <th>Graduation</th>
      <th>High school</th>
      <th>Lname</th>
      <th>Prior college</th>
      <th>Transfer hours</th>
      <th>Taking, attempts, grade</th>
      <th colspan="3">options</th>
    </tr>
    </thead>

    <tbody>
    <% @students.each do |student| %>
        <tr>
          <td><%= student.uid %></td>
          <td><%= student.act_math %></td>
          <td><%= student.degree %></td>
          <td><%= student.email %></td>
          <td><%= student.ethnicity %></td>
          <td><%=  link_to student.fname, student_courses_path(student.id) %></td>
          <td><%= student.gender %></td>
          <td><%= student.graduation %></td>
          <td><%= student.high_school %></td>
          <td><%= student.lname %></td>
          <td><%= student.prior_college %></td>
          <td><%= student.transfer_hours %></td>
          <% student.course_students.each do |coursestudent| %>
            <td><%= coursestudent.course.course_number%>, <%=coursestudent.attempt%>, <%=coursestudent.grade%></td>
          <% end %>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Student', new_student_path %>

</div>
