<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @student.uid %>
</p>

<p>
  <strong>Act math:</strong>
  <%= @student.act_math %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @student.degree %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @student.ethnicity %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Graduation:</strong>
  <%= @student.graduation %>
</p>

<p>
  <strong>High school:</strong>
  <%= @student.high_school %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>Prior college:</strong>
  <%= @student.prior_college %>
</p>

<p>
  <strong>Transfer hours:</strong>
  <%= @student.transfer_hours %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
