<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @h.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @h.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @h.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @h.school_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @h.state %>
</p>

<%= link_to 'Edit', edit_h_path(@h) %> |
<%= link_to 'Back', hs_path %>
