<p id="notice"><%= notice %></p>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
</head>

<h1>Course Students</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Failed Attempts</th>
      <th>Student</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_students.each do |course_student| %>
      <tr>
        <td><%= course_student.grade %></td>
        <td><%= course_student.attempt %></td>
        <td><%= course_student.student %></td>
        <td><%= course_student.course %></td>
        <td><%= link_to 'Show', course_student %></td>
        <td><%= link_to 'Edit', edit_course_student_path(course_student) %></td>
        <td><%= link_to 'Destroy', course_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Student', new_course_student_path %>
