<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @college.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @college.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @college.school_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @college.state %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
