<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @college.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @college.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @college.uid %>
</p>

<p>
  <strong>County:</strong>
  <%= @college.county %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
