<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :term %>
    <%= f.number_field :term, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :rubric %>
    <%= f.text_field :rubric, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :course_number %>
    <%= f.number_field :course_number, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :section %>
    <%= f.text_field :section, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :credit_hours %>
    <%= f.number_field :credit_hours, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :course_type %>
    <%= f.text_field :course_type, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :day %>
    <%= f.text_field :day, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :time %>
    <%= f.text_field :time, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :instructor %>
    <%= f.text_field :instructor, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :instructor_rank %>
    <%= f.text_field :instructor_rank, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
