<div class="col-md-12">
  <p><%= 'Number of A: ' + @num_a.to_s %></p>
  <p><%= 'Number of B: ' + @num_b.to_s %></p>
  <p><%= 'Number of C: ' + @num_c.to_s %></p>
  <p><%= 'Number of D: ' + @num_d.to_s %></p>
  <p><%= 'Number of F: ' + @num_f.to_s %></p>
  <p><%= 'Number of W: ' + @num_w.to_s %></p>
  <p><%= 'Number of passed Students: ' + @passed.to_s %></p>
  <p><%= 'Number of failed Students: ' + (@num_d + @num_f).to_s %></p>
</div>

